<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CasePRO | Operations</title>
    <link rel="icon" type="image/x-icon" href="~/Asset/images/favicon.ico">
    <link href="~/Asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Asset/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Asset/css/dashboard.min.css" rel="stylesheet" />
    <link href="~/Asset/css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Asset/css/skins.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
        /* Add your CSS styles here */
        .active {
            background-color: #f4f4f4;
            color: #333;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="Dashboard.html" class="logo">
                <span class="logo-mini">
                    <img src="~/Asset/images/Logo.png" />
                </span>
                <span class="logo-lg">
                    <img src="~/Asset/images/Logo.png" height="28" />
                </span>
            </a><!-- /.End Logo -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-envelope-o"></i>
                              <span class="label label-success">4</span>
                            </a>-->
                            <ul class="dropdown-menu">
                                <!--<li class="header">You have 4 messages</li>-->
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Asset/images/MikeB.png" class="img-circle" alt="User Image">
                                                </div>
                                                <!--<h4>-->
                                                <!--Reviewers
                                                  <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>-->
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span class="hidden-xs">Logout</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Asset/images/MikeB.png" class="img-circle" alt="User Image">
                                    <p>
                                        Mik Begra
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("LogOut", "Account")" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar" style="height: auto;">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Asset/images/MikeB.png" class="img-circle" alt="Mik Begra">
                    </div>
                    <div class="pull-left info">
                        <p>Mik Begra</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
               @*  <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="~/Activity/ActivitiesList">
                            <i class="fa fa-th"></i> <span>Activities List</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Activity/CreateActivity">
                            <i class="fa fa-pencil-square-o"></i> <span>Create an Activity</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="@Url.Action("LogOut", "Account")">
                            <i class="fa fa-cog"></i> <span>Logout</span>
                        </a>
                    </li>
                   
                </ul> *@

                <ul class="sidebar-menu tree" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li id="activitiesList">
                        <a href="~/Activity/ActivitiesList">
                            <i class="fa fa-th"></i> <span>Activities List</span>
                        </a>
                    </li>
                    <li id="createActivity">
                        <a href="~/Activity/CreateActivity">
                            <i class="fa fa-pencil-square-o"></i> <span>Create an Activity</span>
                        </a>
                    </li>
                    <li id="logout">
                        <a href="@Url.Action("LogOut", "Account")">
                            <i class="fa fa-cog"></i> <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <ol class="breadcrumb">
                    <li><a href="Dashboard.html"><i class="fa fa-home"></i> Home</a></li>
                    <li class="active">Activities List</li>
                </ol>
            </section>
            <!-- Main content -->
            @RenderBody()


            <!-- /.content -->
        </div>
		

        <footer class="main-footer text-center">
            <strong>Copyright &copy; 2024 <a href="">CasePRO</a></strong> All rights reserved.
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Function to check if the current URL matches any href attribute and set the corresponding menu item as active
            function setActiveMenuItem() {
                var currentUrl = window.location.href;

                $(".sidebar-menu li").removeClass("active");
                $(".sidebar-menu li a").each(function () {
                    if (currentUrl.indexOf($(this).attr("href")) > -1) {
                        $(this).closest("li").addClass("active");
                        return false; // Exit the loop if a match is found
                    }
                });
            }

            // Set active menu item when the page loads
            setActiveMenuItem();

            // Set active menu item when a menu item is clicked
            $(".sidebar-menu li").click(function () {
                $(".sidebar-menu li").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    <script src="~/Asset/js/jquery-3.7.1.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/fastclick.js"></script>
    <script src="~/Asset/js/theme.min.js"></script>
    <script src="~/Asset/js/jquery.slimscroll.min.js"></script>
    <script src="~/Asset/js/bootstrap-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
